.Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse;  color: #474747;}
.Grid td {
      padding: 1px ; 
      border: solid 1px #c1c1c1; }
.Grid th  {
      padding : 4px 2px; 
      color: black; 
      font-weight: bold; color: #ff6a00;
      background: black ; 
      border-left: solid 1px #525252; 
      font-size: 0.5em; 
      text-align:center;
}
.Grid .alternate 
{
      background: #fcc266;  

}

.Grid .pgr {background: #363670  }
.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }
 .col{
        width:100px;
        font-size:10px;
        text-align:center;
        color:black;
        
    }
 .head
 {
width:100px;
font-size:12px;
color:whitesmoke;
background-color:#09826b;
text-align:center;
 }